.menu-header {
  height: 50px;
  background-color: #0a2595;
}

.menu-left {
  margin-top: 0.125rem;
  float: left;
  display: inline-block;
}

.menu-right {
  float: right;
  display: inline-block;
}

.menu-button {
  margin-left: 0.9rem;
  display: inline-block;
  color: white;
}
