.page-body {
  height: calc(100% - 50px);
}

.button-text {
  color: white
}

#ask-body-alignment {
  margin: auto;
}

#ask-form-alignment {
  margin-top: -25%;
}

#input-form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#minimized {
  display: none;
}
